<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.fatih-yavuz.alfred-timer-workflow</string>
	<key>connections</key>
	<dict>
		<key>084EF71B-5AA5-46D6-A9E6-EE19AF04F3D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1D1A101-BE0C-4D9B-99F3-AFFAB62E14A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>425172DD-9CFB-475E-95A6-04C05CE53DAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>084EF71B-5AA5-46D6-A9E6-EE19AF04F3D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B4A48AD-5A2A-4787-9E7E-A428C0676206</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B4A48AD-5A2A-4787-9E7E-A428C0676206</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D1C5B6C-0389-4061-8ED5-135D2D2483EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2B835431-CC47-4767-9457-66E70CE2A37A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7DB0491-2375-4A98-B94A-17D05C8EEB11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7DB0491-2375-4A98-B94A-17D05C8EEB11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>210C602D-DDDB-4C43-BEFF-81978E0DE964</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1D1A101-BE0C-4D9B-99F3-AFFAB62E14A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441B33E7-BA10-414C-A6D2-AB36A391F6D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fatih Yavuz</string>
	<key>description</key>
	<string>Know when you need to stop.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Timer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>dnd</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vitorgalvao.alfred.calmnotifications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>441B33E7-BA10-414C-A6D2-AB36A391F6D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>on</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B1D1A101-BE0C-4D9B-99F3-AFFAB62E14A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>timer</string>
				<key>subtext</key>
				<string>When would you like to stop?</string>
				<key>text</key>
				<string>Timer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>425172DD-9CFB-475E-95A6-04C05CE53DAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>is_bitbar_installed() {
  ls /Applications/BitBar.app &gt;/dev/null
}

is_bitbar_running() {
  pgrep BitBar &gt;/dev/null
}

is_bitbar_plugin_folder_defined() {
  defaults read com.matryer.BitBar pluginsDirectory &gt;/dev/null
}

get_bitbar_plugins_folder() {
  defaults read com.matryer.BitBar pluginsDirectory
}

launch_bitbar() {
  open /Applications/BitBar.app
}

define_bitbar_plugins_folder() {
  PLUGINS_DIR=${HOME}/Documents/Bitbar-Plugins
  mkdir ${PLUGINS_DIR}
  defaults write com.matryer.BitBar pluginsDirectory -string ${PLUGINS_DIR}
}

download_countdown_timer() {
  curl https://raw.githubusercontent.com/kizzx2/bitbar-countdown-timer/a27f8b42e7d89c00bc0d04b4f8d2eca906e549c4/countdown_timer.1s.rb -o ${PLUGINS_DIR}/countdown_timer.1s.rb
  chmod +x ${PLUGINS_DIR}/countdown_timer.1s.rb
}

is_countdown_timer_installed() {
  PLUGINS_DIR=${HOME}/Documents/Bitbar-Plugins
  ls ${PLUGINS_DIR}/countdown_timer.1s.rb &gt;/dev/null
}

kill_bitbar() {
  ps -ef | grep 'BitBar' | grep -v grep | awk '{print $2}' | xargs kill -9
}

launch_bitbar() {
  open /Applications/BitBar.app
}

if ! is_bitbar_installed; then
  echo "Error: BitBar is not installed. You can run -timer setup"
  exit
fi

if ! is_bitbar_running; then
  launch_bitbar
fi

if ! is_bitbar_running; then
  echo "Error: BitBar cannot be launched"
  exit
fi

defaults delete com.matryer.BitBar pluginsDirectory
if ! is_bitbar_plugin_folder_defined; then
  define_bitbar_plugins_folder
fi

if ! is_countdown_timer_installed; then
  exit
  download_countdown_timer
  kill_bitbar
  launch_bitbar
fi

query=$@

$(get_bitbar_plugins_folder)/countdown_timer.1s.rb ${query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>084EF71B-5AA5-46D6-A9E6-EE19AF04F3D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>4D1C5B6C-0389-4061-8ED5-135D2D2483EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require File.expand_path('lib/timer.rb')
puts set_timer(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9B4A48AD-5A2A-4787-9E7E-A428C0676206</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Submarine</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2B835431-CC47-4767-9457-66E70CE2A37A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>dnd</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.vitorgalvao.alfred.calmnotifications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>210C602D-DDDB-4C43-BEFF-81978E0DE964</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>off</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A7DB0491-2375-4A98-B94A-17D05C8EEB11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/fatih-yavuz/alfred-timer-workflow/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>084EF71B-5AA5-46D6-A9E6-EE19AF04F3D5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>210C602D-DDDB-4C43-BEFF-81978E0DE964</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>2B835431-CC47-4767-9457-66E70CE2A37A</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>425172DD-9CFB-475E-95A6-04C05CE53DAE</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>441B33E7-BA10-414C-A6D2-AB36A391F6D5</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>4D1C5B6C-0389-4061-8ED5-135D2D2483EC</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>9B4A48AD-5A2A-4787-9E7E-A428C0676206</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A7DB0491-2375-4A98-B94A-17D05C8EEB11</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>B1D1A101-BE0C-4D9B-99F3-AFFAB62E14A7</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fatih-yavuz/alfred-timer-workflow</string>
</dict>
</plist>
